@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Fjalla+One&display=swap');

:root {
    --prim-clr: #6d0000;
    --sec-clr: #005e1f;
    --accent-clr: #0057c4;
    background-color: var(--prim-clr);
    --prim-font: 'BhuTuka Expanded One', cursive;
}

h1 {
    text-align: center;
    font-family: ;
}